body {
    font-family: sans-serif;
    overflow-x: hidden;
}

.div1 {
    background-color: #C2FDE6;
    margin: 30px 8px;
    padding: 13px;
    border-radius: 5px;

}
.div2 {
    background-color: #C2FDE6;
    margin: 30px 8px;
    padding: 13px;
    border-radius: 5px;


    
    background-image: url("https://i.imgur.com/4bg1e6u.jpg");
    
    
        

}

.div3{
    background-color: #C2FDE6;
    margin: 30px 8px;
    padding: 13px;
    border-radius: 5px;
    background: #eee;
}

.div4{
    background: #D2FAF2;
    margin: 20px 20px;
    padding: 35px;
    border-radius: 10px;  
    width: 20px 20px;
}



.div5{
    


    
   
    font-family: 'Dancing Script';
    font-weight: bold;
    
    
    padding: 0 55rem 55rem 55rem;
    background-image: url("https://i.imgur.com/4bg1e6u.jpg");
    background-size: cover;
    
        

        


    padding: 0 5rem 5rem 5rem;
    background-image: url("https://i.imgur.com/4bg1e6u.jpg");
    
    
}


.attribution { font-size: 11px; text-align: center;}
.attribution a {color: black;}
